.email{
    color: blue;
    text-decoration: none;

}
.email:hover{
    border: 1px solid red;
    background-color: red;
    border-radius: 15px;
    color:yellow;
}

.name{
    border: 2px solid black;

    text-align: center;
    color: white;
    background-color: black;
    position: fixed;
    top: -43px;
    width: 1500px;
    height: 70px;
    font-size: 60px;
    z-index: 1;
}
.img{
    width: 1500px;
    height: 900px;
    opacity: 0.9;

}
.p1{
    font-size: 25px;
    color: white;
    width: 400px;
    position: absolute;
    top: 200px;
    left: 70px;

}
strong{
    color: white;
}

strong:hover{
    color: yellow;
    font-family: cursive;
}
.order{
    border: 3px solid red;
    background-color: red;
    color: white;
    font-family: cursive;
    border-radius: 30px;
    text-align: center;
    width: 1500px;

}


.whatsapp{
    border: 2px solid green;
    border-radius: 30px;
    background-color: yellowgreen;
    color: black;
    width: 200px;
    text-align: center;
    color: white;
    position: relative;
    left: 525px;

}
.whatsapp-image{
    width: 100px;
    height: 100px;
    border-radius: 700px;

}
.whatsapp-button{
    border: 2px solid green;
    color: green;
    width: 100px;
    font-size: 14px;
    border-radius: 8px;
}
.whatsapp-button:hover{
    background-color: green;
    color: white;
}
.messanger{
    border: 2px solid blue;
    border-radius: 30px;
    background-color: aqua;
    color: black;
    width: 200px;
    text-align: center;
    color: black;
    position: relative;
    left: 775px;
    bottom: 219px;

}

.messanger-image {
    width: 100px;
    height: 100px;
    border-radius: 700px;
}
.messanger-button{
    border: 2px solid blue;
    color: blue;
    width: 100px;
    font-size: 14px;
    border-radius: 8px;


}
.messanger-button:hover{
     background-color: blue;
    color: white;
}
.whatsapp.messanger {
display: inline-block;
width: 200px; /* Remove fixed width */
height: 200px;

}
.intro{
font-size: 30px;
}
.buttons{
border: 3px solid aqua;
border-radius: 30px;
background-color: aqua;
width: 1500px;
display: flex; /* Add this line to make the container flexbox */
justify-content: center;

}
.order-button{
border: 2px solid red;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
width: 70px;
font-size: 30px;
background-color: red;
color: white;
text-decoration: none;
margin: 2px;

}
.order-button:hover{
background-color: white;
color: black;
text-decoration: none;
}
.address1{
border: 2px solid red;

width: 120px;
font-size: 30px;
background-color: red;
color: white;
text-decoration: none;
margin: 2px;
text-align: center;
}
.address1:hover{
background-color: white;
color: black;
text-decoration: none;
}
.items{
border: 2px solid red;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
width: 70px;
font-size: 30px;
background-color: red;
color: white;
text-decoration: none;
margin: 2px;
}
.items:hover{
 background-color: white;
color: black;
text-decoration: none;
}
.prices{
border: 2px solid red;

width: 120px;
font-size: 30px;
background-color: red;
color: white;
text-decoration: none;
margin: 2px;
text-align: center; 
}
.prices:hover{
background-color: white;
color: black;
text-decoration: none;
}
.top{
border: 2px solid red;
border-radius: 20px;
width: 200px;
font-size: 30px;
background-color: red;
color: white;
text-decoration: none;
margin: 2px;
text-align: center; 
position: relative;
bottom: 100px;
left: 700px; 
}
.top:hover{
background-color: white;
color: black;
text-decoration: none;
}

.address-logo{
width: 400px;
height: 400px;
border-radius: 700px;
}
.address-heading{
border: 3px solid red;
border-radius: 30px;
width: 1500px;
background-color: red;
color: white;
text-align: center;
font-family: cursive;

}
.address-paragraph{
border: 2px solid aqua;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
font-size: 25px;
width: 400px;
background-color: aqua;
text-align: center;
color: red;
position: relative;
left: 600px;
bottom: 350px;
}
.address-paragraph:hover{
border: 2px solid red;
background-color: red;
color: white;
font-family: cursive;
}
.items-heading{
border: 2px solid red;
border-radius: 20px;
background-color: red;
text-align: center;
font-family: cursive;
color: white;
}
.items-heading3{
color: blue;
font-family: cursive;
font-size: 30px;
}
.list{
border: 2px solid aqua;
border-radius: 20px;
background-color: aqua;
font-size: 18px;
text-align: center;
width: 100px;
display: inline-block;
margin: 4px;
color: red;
}


.list:hover{
background-color: white;
border: 2px solid blue;

}
.kaptaan:link{
color: red;
text-decoration: none;
}
.kaptaan:hover{
color: red;
text-decoration: none;
}
.kaptaan:visited{
color: red;
text-decoration: none;
}

.kaptan-heading1{
border: 2px solid aqua;
border-radius: 30px;
background-color: aqua;
font-family: cursive;
align-items: center;
color: red;
width: 800px;
display: flex;
justify-content: center;
}
.kaptan-paragraph{
font-size: 30px;
}
.red-kaptan1{
width: 400px;
height: 400px;
border-radius: 700px;
position: relative;
left: 1150px;
bottom: 300px;
}
.red-kaptan2{
width: 400px;
height: 400px;
border-radius: 700px;
position: relative;
left: 1150px;
bottom: 650px;
}

.kaptan-specification{
 border: 2px solid aqua;
border-radius: 30px;
background-color: aqua;
font-family: cursive;
align-items: center;
color: red;
width: 400px;
display: flex;
justify-content: center;
position: relative;
bottom: 300px;
}
.list-specification{
border: 2px solid grey;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
font-size: 25px;
text-align: center;
list-style-type: none;
width: 400px;
position: relative;
bottom: 300px;
background-color: grey;
color: white;
}
.zardari:link{
color: red;
text-decoration: none;
}
.zardari:hover{
color: red;
text-decoration: none;
}
.zardari:visited{
color: red;
text-decoration: none;
}

.zardari-heading1{
border: 2px solid aqua;
border-radius: 30px;
background-color: aqua;
font-family: cursive;
align-items: center;
color: red;
width: 800px;
display: flex;
justify-content: center;
}
.zardari-paragraph{
font-size: 30px;
}
.zardari-image{
width: 400px;
height: 400px;
border-radius: 700px;
position: relative;
left: 1100px;
bottom: 400px;
}
.zalmi-heading1{
border: 2px solid aqua;
border-radius: 30px;
background-color: aqua;
font-family: cursive;
align-items: center;
color: red;
width: 800px;
display: flex;
justify-content: center;
}
.zalmi-paragraph{
font-size: 30px;
}
.zalmi-image{
border-radius: 700px;
position: relative;
left: 1200px;
bottom: 300px; 
}
.zalmi:link{
color: red;
text-decoration: none;
}
.zalmi:hover{
color: red;
text-decoration: none;
}
.zalmi:visited{
color: red;
text-decoration: none;
}
.smart-zalmi:link{
color: red;
text-decoration: none;
}
.smart-zalmi:hover{
color: red;
text-decoration: none;
}
.smart-zalmi:visited{
color: red;
text-decoration: none;
}
.smart-zalmi-heading1{
border: 2px solid aqua;
border-radius: 30px;
background-color: aqua;
font-family: cursive;
align-items: center;
color: red;
width: 800px;
display: flex;
justify-content: center;
}
.smart-zalmi-paragraph{
font-size: 30px;
}
.smart-zalmi-image{
width: 250px;
height: 250px;
border-radius: 600px;
position: relative;
left: 1200px;
bottom: 300px;
}
.gogo-heading1{
border: 2px solid aqua;
border-radius: 30px;
background-color: aqua;
font-family: cursive;
align-items: center;
color: red;
width: 800px;
display: flex;
justify-content: center;
}
.gogo-paragraph{
font-size: 30px;
}
.gogo-image{
width: 200px;
height: 200px;
border-radius: 700px;
position: relative;
left: 1250px;
bottom: 200px;
}
.gogo:link{
color: red;
text-decoration: none;
}
.gogo:hover{
color: red;
text-decoration: none;
}
.gogo:visited{
color: red;
text-decoration: none;
}
.golty-heading1{
border: 2px solid aqua;
border-radius: 30px;
background-color: aqua;
font-family: cursive;
align-items: center;
color: red;
width: 800px;
display: flex;
justify-content: center;
}
.golty-paragraph{
font-size: 30px;
}
.golty:link{
color: red;
text-decoration: none;
}
.golty:hover{
color: red;
text-decoration: none;
}
.golty:visited{
color: red;
text-decoration: none;
}
.golty-image{
width: 200px;
height: 200px;
border-radius: 700px;
position: relative;
left: 1250px;
bottom: 200px;
}
.prices-heading1{
color: white;
border: 2px solid red;
border-radius: 30px;
background-color: red;
text-align: center;
font-family: cursive;
}
.prices-list{
list-style-type: none;
}
.list2-price{
border: 1px solid black;
border-radius: 20px;
background-color: rgb(57, 57, 57);
color: white;
width: 400px;
font-size: 25px;
text-align: center;


}
.list2-price:hover{
color: yellow;
}
.price-image{
width: 200px;
height: 200px;
border-radius: 70px;
border: 3px solid black;
position: relative;
left: 900px;
bottom: 200px;
}
